body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #cd6cfd, #5ea3d1);
}

.calculator {
    background-color: #302b2b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.display {
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    padding: 0.5px;
    font-size: 24px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f2f2f2;
}
.credit{
    color: #00fecb;
    font-size: 14px;
    background-color: rgb(119, 117, 117);
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
